{% extends "base_generic.html" %}
{% load i18n %}
{% block title %}Advertise{% endblock %}

{% block content %}
<div id="header-bar">
    <div id="header-bar-container">
        <h2>Advertise</h2>
    </div>

</div>
<div class="advertise-content">
    <div class="advertise-box">
        <div class="how-content">

            <div class="advertise-box-left">
                <div class="stats">
                    <div class="stats-image">
                      </div>
                        <div class="stats-words"><h2>Audience Gender Groups</h2><img src="/static/images/gender.png" >
                        <div style="padding-top:10px;">
                            <div class="color-pink"></div><p><span>52%</span> Female</p>
                        </div>
                         <div>
                           <div class="color-blue"></div><p> <span>48%</span> Male</p>
                        </div>
                    </div>
                </div><!--end number-->

                <div class="stats">
                    <div class="stats-image">
                        </div>
                        <div class="stats-words"><h2>Audience Age Groups</h2><img src="/static/images/age.png" >
                        <div>
                            <div class="color-grey"></div><p><span>13%</span> 18 - 24</p>
                        </div>
                          <div>
                            <div class="color-pink"></div><p><span>57%</span> 25 - 34</p>
                        </div>
                          <div>
                            <div class="color-blue"></div><p><span>20%</span> 35 - 44</p>
                        </div>
                          <div style="padding-bottom:10px;">
                            <div class="color-green"></div><p><span>10%</span> 45 +</p>
                        </div>
                    </div>

                </div><!--end number-->
                <div class="stats">
                    <div class="stats-image">
                        </div>
                        <div class="stats-words"><h2>Audience Education Groups</h2><img src="/static/images/college.png" >
                       
											 <div style="padding-top:10px;">
                            <div class="color-pink"></div><p><span>82%</span> Attended college</p>
                        </div>
                         <div>
                           <div class="color-blue"></div> <p> <span>18%</span> Havent attended college</p>
                        </div>
                    </div>
                </div><!--end number-->

                <form action="." method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <table>
                            <tbody>
                                <tr class="email">
                                    <th><label for="user-email">Email:</label></th>
                                    <td class="col-field">
                                {{ form.email }}
                            </td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td class="col-help"> {% if form.email.errors %}
                                    <div class="error-help">
                                        Enter your email address
                                    </div> {% endif %} </td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>
																		<textarea cols="30" class="message-field" name="detail" rows="10" style="margin-top: 0px; margin-bottom: 0px; height: 60px; margin-left: 0px; margin-right: 0px; width: 300px; ">
																		</textarea> {% if form.detail.errors %}
                                    <div class="error-help">
                                        Please input details here
                                    </div> {% endif %}
                                    <button class="button-short"  type="submit">
                                        Send
                                    </button></td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </form>

            </div><!--Advertise-left-->
            <div class="advertise-box-right">
                <h2>About Celebrity DBag</h2>
                <div class="bor-list"><p>
                    Celebrity DBag is unlike anyonther site. Celebrity DBag doesn't just write about the stars. It provides what people really think about the stars.
</p>
                </div>
            </div><!--end Advertise right-->
            <div class="how-we-paragraph"></div>
        </div><!-- End how Content -->
    </div><!-- End box body -->
</div>
{% endblock %}
