{% extends "base_generic.html" %}
{% load i18n static celebrity_template_tags %}
{% block title %}Advertise{% endblock %}

{% block content %}
<!-- begin advertise-container  -->
<div class="main-container advertise-container">
    <!-- begin page title main-title-wrapper -->
    <div class="main-title-wrapper">
        <div class="container">
            <h1 class="main-title">Advertise</h1>
        </div>
    </div>
    <!-- end page title main-title-wrapper -->
    <div class="container">
        <div class="main-content">
            <div class="advertise-inner">
                <div class="stat-wrapper">
                    <ul class="stat-list">
                        <li>
                            <h2 class="charts-title">Audience Gender Groups</h2>
                            <div class="charts-wrapper">
                                <div class="chart">
                                    <img src="{% static 'images/charts/gender.png' %}" alt="">
                                </div>
                                <ul class="">
                                    <li class="legend-red"><strong>52%</strong> Female</li>
                                    <li class="legend-blue"><strong>48%</strong> Male</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <h2 class="charts-title">Audience Age Groups</h2>
                            <div class="charts-wrapper">
                                <div class="chart">
                                    <img src="{% static 'images/charts/age.png' %}" alt="">
                                </div>
                                <ul class="two-col">
                                    <li class="legend-green"><strong>13%</strong> 18 - 24</li>
                                    <li class="legend-red"><strong>57%</strong> 25 - 34</li>
                                    <li class="legend-blue"><strong>20%</strong> 35 - 44</li>
                                    <li class="legend-grey"><strong>10%</strong> 45 +</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <h2 class="charts-title">Audience Education Groups</h2>
                            <div class="charts-wrapper">
                                <div class="chart">
                                    <img src="{% static 'images/charts/college.png' %}" alt="">
                                </div>
                                <ul class="">
                                    <li class="legend-red"><strong>82%</strong> Attended college</li>
                                    <li class="legend-blue"><strong>18%</strong> Havent attended college</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <form action="" method="post" class="advertise-form">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            {% if field.name != 'detail' %}
                            <label for="">{{ field.label }}:</label>
                            {% endif %}
                            {{ field|add_attrs:"class:form-control" }}
                            <span class="control-label">{{ field.errors.0 }}</span>
                        </div>
                        {% endfor %}
                        <div class="submit-wrapper">
                            <button class="btn btn-main">Send</button>
                        </div>
                    </form>
                </div>
                <div class="slogan-wrapper">
                    <h2>About Celebrity DBag</h2>
                    <p>Celebrity DBag is unlike anyonther site. Celebrity DBag doesn't just write about the stars. It provides what people really think about the stars.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end advertise-container -->
{% endblock %}
