{% extends "base_generic.html" %}
{% load celebrity_template_tags %}
{% block title %}Contact Us{% endblock %}

{% block content %}

<!-- begin contact-container  -->
<div class="main-container contact-container">
    <!-- begin page title main-title-wrapper -->
    <div class="main-title-wrapper">
        <div class="container">
            <h1 class="main-title">Contact Us</h1>
        </div>
    </div>
    <!-- end page title main-title-wrapper -->
    <div class="container">
        <div class="main-content">
            <div class="contact-inner">
                <p>Email us if you have any questions, concerns, improvements to our website or if you'd like us to add a celebrity. We will respond to your email as quickly as possible.</p>
                <!-- begin contact-form -->
                <form action="" method="post" class="contact-form">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        {% if field.name != "detail" %}
                        <label for="">{{ field.label }}:</label>
                        {% endif %}
                        {{ field|add_attrs:"class:form-control" }}
                        <span class="control-label">{{ field.errors.0 }}</span>
                    </div>
                    {% endfor %}
                    <div class="submit-btn-wrapper">
                        <button class="btn btn-main">Send</button>
                    </div>
                </form>
                <!-- end contact-form -->
                <p>We appreciate your involvement in making this website the best it can me.</p>
            </div>
        </div>
    </div>
</div>
<!-- end contact-container -->
{% endblock %}
