{% extends "base_generic.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}Celebrity Magazines | Celebrity Latest News | Celebrity Douchebag{% endblock %}

{% block content %}
<div class="main-container home-container">
    <!-- begin page title main-title-wrapper -->
    <div class="main-title-wrapper">
        <div class="container">
            <h1 class="main-title">Tell us if the celebrity you met is a nice person or a douchebag.</h1>
        </div>
    </div>
    <!-- end main-title-wrapper -->
    <!-- begin main-content article-content  -->
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!-- begin main-content -->
                <div class="main-content article-container">
                    <div class="row">
                        <!-- begin main-content left bar article-inner -->
                        <div class="col-md-8 main-content-inner article-inner">
                            <div class="main-content-title article-list-title">
                                <h2 class="today-title">Today's Celebrity News</h2>
                                <form action="{% url 'rating:search' %}" class="article-search">
                                    <div class="search">
                                        <input type="text" name="keyword" class="form-control search-input" placeholder="Search Celebrity">
                                        <button class="search-btn" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="article-list-wrapper">
                                <ul class="article-list">
                                    {% for article in articles %}
                                    <li>
                                        <div class="news-pic">
                                            {%  if article.news_website %}
                                                <a href="{{ article.url }}" target="_blank"> <img src="{{ article.image }}" alt="news" class="img-responsive col-lg-12"> </a>
                                            {% else %}
                                                <a href="{% url 'portals:news_detail' pk=article.id %}">
                                                    <img src="{{ article.article_image|thumbnail_url:'small' }}" alt="news" class="img-responsive col-lg-12">
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="news-info">
                                            <h3>
                                                {%  if article.news_website %}
                                                    <a href="{{ article.url }}" target="_blank">{{ article.title|truncatechars:100 }}</a>
                                                {% else %}
                                                    <a href="{% url 'portals:news_detail' pk=article.id %}">{{ article.title|truncatechars:100 }}</a>
                                                {% endif %}
                                            </h3>

                                            {%  if article.news_website %}<div class="meta-data">({{ article.news_website }})</div>{% endif %}

                                            <div class="news-text">
                                                {% if article.description %}
                                                    <p>{{ article.description|truncatechars:300 }}</p>
                                                {% elif  article.text %}
                                                    <p>{{ article.text|truncatechars:300 }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- end main-content left bar article-inner -->

                        {% include "right-sidebar.html" %}
                    </div>
                </div>
                <!-- end main-content -->
            </div>
        </div>
    </div>
    <!-- end main-content article-content -->
</div>
{% endblock %}
