{% extends "base_generic.html" %}
{% load staticfiles thumbnail %}
{% block title %}Celebrity Douchebag: Actors, Musicians and Athletes nice people or doucebags{% endblock %}

{% block content %}
<div id="sliderFrame">
    <img src="{{ item.image|thumbnail_url:'medium' }}" />
    <p>{{ item.description }}</p>
    <div class="slider-nav-buttons">
        {% if pre_index %}
        <a class="slider-nav" href="{% url 'sliders:detail' pk=object.id %}?index={{ pre_index }}">Prev</a>
        {% else %}
        <span class="slider-nav">Prev</span>
        {% endif %}
        <span>{{ count }} of {{ total_count }}</span>
        {% if next_index %}
        <a class="slider-nav" href="{% url 'sliders:detail' pk=object.id %}?index={{ next_index }}">Next</a>
        {% else %}
        <span class="slider-nav">Next</span>
        {% endif %}
    </div>
</div>
{% endblock %}
