{% extends "sliders/base.html" %}

{% block content %}
<br />
<div class="container">
    <div>
        <a href="{% url 'sliders:list' %}">Sliders</a> /
        <a href="{% url 'sliders:items' slider_pk=slider.id %}">Slider Items</a>
        <hr />
    </div>
    <form class="form" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <fieldset>
            {{ form.as_p }}
            <input class="button" type="submit" value="Submit">
        </fieldset>
    </form>
</div>
{% endblock %}
