{% extends 'mobile/userena/base_userena.html' %}
{% load i18n %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<div class="header-bar-mobile">
    <h2>Please enter your new password</h2>
</div>
{% include "mobile/search_form.html" %}

<div class="celebrity-container-mobile">
    <div class="forgot-form">
        <form action="" method="post">
            {% csrf_token %}
            {% if form.errors %}
            <p>
                Please correct the following fields:
            </p>
            {% endif %}
            {% for field in form %}
            <div class="row">
                {% if field.errors %}
                <p class="errors">
                    {{ field.errors}}
                </p>
                {% endif %}
                <label class="hidden-label" for="user_{{ field.name }}">{{ field.field.label }}</label>
                <p>
                    <label for="id_{{ field.name }}"{% if field.errors %} class="error"{% endif %}>{{ field.field.label }}:</label>
                    {{ field }}
                </p>
            </div>
            {% endfor %}
            <p>
                <button class="button-short" tabindex="3" type="submit">
                    Change my password
                </button>
            </p>
        </form>
    </div><!--end forgot-form-->

</div><!--end celebrity-container-mobile-->

{% endblock %}