{% extends 'mobile/userena/base_userena.html' %}
{% load i18n %}
{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content %}
<div class="header-bar-mobile">
    <h2>Account Information</h2>
</div>
{% include "mobile/search_form.html" %}
<div class="celebrity-container-mobile">
    <div class="account-wrapper">
        {% if user.username == profile.user.username %}
        <ul id="box-nav">
            <li>
                <a href="{% url 'userena_profile_detail' user.username %}">{% trans "View profile" %}</a>
            </li>
            <li>
                <a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit details" %}</a>
            </li>
            <li>
                <a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a>
            </li>
        </ul>
        {% endif %}
        <div class="box-body" id="account-info">
            <form action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>
                        {% trans "Edit Profile" %}
                    </legend>
                    {{ form.as_p }}
                    <input class="button font-19 font-strong color-primary" type="submit" name="yt0" value="{% trans "Save changes" %}">
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
