{% extends 'mobile/userena/base_userena.html' %}
{% load i18n static celebrity_template_tags %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container-mobile">
    <h2>Sign up for a CelebrityDbag account</h2>
    <a href="{% url 'socialauth_begin' 'facebook' %}" title="Login With Facebook"><img src="{% static 'images/loginfacebook.png' %}"></a>
    <a href="{% url 'socialauth_begin' 'twitter' %}" title="Login with Twitter"><img src="{% static 'images/logintwitter.png' %}"></a>
    <a href="{% url 'socialauth_begin' 'google-oauth2' %}" title="Login with Twitter"><img src="{% static 'images/logingoogle.png' %}"></a>
</div>
<div id="or">
    <span>or</span>
</div>
<form method="post">
    <div class="pod">
        {% csrf_token %}
        {% if form.errors %}
        <div class="errors-header">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <ul>
            {% for field in form %}
            <li>
                {% if field.errors %}
                <div class="errors">
                    {{ field.errors}}
                </div>
                {% endif %}
                {{ field|label_as_placeholder }}
            </li>
            {% endfor %}
        </ul>
    </div><div class="accept-terms"></div>
    <div class="submit-button-container">
        <input class="button" id="sign-up" type="submit" value="Sign Up">
    </div>
</form>
<p class="login">
    Already a Member? <a href="{% url 'userena_signin' %}" id="sign-in">Sign In</a>
</p>
<p>
    <span class="secure">All information is transmitted over a secure connection</span>
</p>

{% endblock %}
