body {
    margin: 0px 0px 0px 0px;
    background-color: #F9F9F9;  
}

div, img{   
    margin: 0;
    padding: 0;         
    border: none;   
    font: normal 14px ProximaNovaThin, 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-decoration: none;
    overflow: hidden;
}

a, a:hover, a:visited {
    margin: 0;
    padding: 0;         
    border: none;   
    font-family: ProximaNovaThin, 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-decoration: none;  
    color:blue;
}

label {
    display: block;
    float: left;
    height: 31px;
    line-height: 31px;
    text-align: right;
    padding: 0px 10px 0px 0px;  
    font-family: 'ProximaNovaThin', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-decoration: none;      
}

fieldset {
border:none;
}

input { 
    font-family: 'ProximaNovaThin', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-decoration: none;  
}

input[type="text"], input[type="password"], select, textarea {
    padding-left: 5px;
    height: 27px;
    line-height: 27px;
    border: 1px solid #AAA;
    transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, -moz-box-shadow linear .2s;
    -webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
    -ms-transition: border linear .2s, -webkit-box-shadow linear .2s;
}

form {
display: block;
margin-top: 0em;
}


ol, ul {
    list-style: none;
    padding: 0px;
}

#id_identification, #id_password {width:200px;}
#id_username, #id_password1, #id_password2, #id_new_password2, #id_new_password1, #id_old_password, #id_last_name, #id_name, #id_email, #id_first_name {width: 230px;}

#email-padding{padding:8px;}




.celebrity-content{
position: relative;
width:1000px;
margin: 50px auto 10px;
padding: 10px;
border: solid 3px #4382DC;
background-color: #F9F9F9;}

#content{


-moz-box-shadow: 0px 0px 10px #000,0px 0px 0px rgba(0,0,0,0);
}
.celebrity-content-top {
    float:left;
    width:685px;
    border-right: 1px dotted black;
    }

.main_movie_area .celebrity-area {
margin-right: 20px;
max-width: 144px;
}
.celebrity-image{
display:inline;
}

.media_block .celebrity-image {
float: left;
margin-right: 8px;
margin-bottom: 6px;
display:inline;
margin-top: 10px;
}

#top_message {
display:none;
color:red;
font-weight:bold;
}
.celebrity-area img {
float:left;
position: relative;
-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.main_movie_area .celebrity-area>img {
margin: 0 20px 8px 0;
margin-bottom: 4px;
}

.rater-starsOff, .rater-starsOn {
display: inline-block;
height: 18px;
background: url("http://celebritydbag.com/static/images/stars.png") repeat-x 0 0px;
}

.celebrity-block-border.celebrity-block-right {
float:left;
margin-top:5px;
width:460px;
margin-left:10px;
}
.media_block .celebrity-block-right {
display: block;
overflow: hidden;
clear: none;
}
.celebrity-block-border .celebrity-name {
margin: 0px 0 0px 3px;
}
h1 {
padding:0px;
font-size: 28px;
font-weight: bold;
color: #333;
}
.celebrity-block-border {
background: #f8f8f8;
line-height: normal;
margin: 0;
padding: 0;
overflow: hidden;
}
.celebrity-box{
position:relative;
border: 1px solid #4382DC;
line-height: normal;
margin: 0;
padding: 0;
}

.celebrity-block-border .celebrity-inside-box {
min-height: 120px;
display: block;
float: left;
padding: 4px 8px 0 8px;

}
.celebrity-block-border .celebrity-box p.rating-result-words{
float: left;
margin-top: 0;
text-transform: uppercase;
font-weight: bold;
color: #f70050;
}
ol, ul {
list-style: none;
}

.celebrity-block-border .rating-side .rating-container {
margin-top:0px;
clear: both;
border:none;
width:445px;
}

div.rating-number img{
margin-right:50px;
position:absolute;
}

.celebrity-block-border .celebrity-inside-box .rating-box {
float: left;
margin-right: 8px;
width: 140px;
display: block;
}
.celebrity-block-border .rate {
position: absolute;
top: 45px;
left: 92px;
color: #f70050;
font-weight: bold;
display: block;
vertical-align: middle;
min-height: 50px;
line-height: 24px;
}
.rate.number {
font-size: 45px;
}

.celebrity-block-border .your-rating {
color: #666;
font-weight:bold;
float:left;
font-size:13px;
margin-top:20px;
margin-left:22px
}
.celebrity-block-border .rating-stats {
color: #f70050;
font-size:10px;
margin:0;
padding:0;
}


.celebrity-block-border .celebrity-inside-box .celebrity-known-for {
color: #6F6A57;
clear: both;
font-size: 11px;
}
.celebrity-block-border .celebrity-box.celebrity-box .clearfix {
clear: both;
height: 0;
}
.celebrity-block-border .rate_box_bottom {
overflow: hidden;
display: block;
height: 10px;
margin-bottom: 8px;
}
.celebrity-block-border .rate_box_bottom.left_side {
padding-left: 8px;
}

.celebrity-block-border .rate_box_bottom.right_side div {
height: 5px;
}
h4 {
text-transform: uppercase;
font-size: 11px;
line-height: 14px;
}
h4, h5 {
font-weight: bold;
margin: 0 0 5px 0;
}
.header-message {
height: .6em;
border-bottom: 1px solid #d6d6d6;
margin-bottom: 12px;
margin-top: 5px;
}
.fl {
float: left;
}
.header-message span {
background-color: #F9F9F9;
padding-right: 1em;
}
.rating-widget {
overflow: hidden;
}
.media_block {
display: block;
}


.large-rating-widget.rating-widget .wts {
background-position: 0 -107px;
}
.large-rating-widget.rating-widget .wts, .large-rating-widget.rating-widget .ni {
width: 132px;
height: 28px;
}
.rating-widget .wts {
background-position: 0 0;
}

.large-rating-widget .stars, .large-rating-widget .wts, .large-rating-widget .ni {
background: transparent url("http://celebritydbag.com/static/images/starbar-lg.png") no-repeat -396px -220px;
}

.rating-widget .stars, .rating-widget .wts, .rating-widget .ni {
background: transparent url("http://celebritydbag.com/static/images/starbar-v4.png") no-repeat -289px -160px;
}
.clear {
color: transparent;
border: none;
}
.large-rating-widget.rating-widget .ni {
background-position: 0 -135px;
}
.large-rating-widget.rating-widget .stars {
width: 140px;
height: 28px;
background-position: -140px 1px;
vertical-align: inherit;
}
.rating-widget .stars {
display: inline-block;
width: 95px;
height: 19px;
background-position: -194px 0;
}


.rating-widget .review {
    font: normal 12px/16px Arial,Helvetica,sans-serif;
    width: 395px;
    resize: none;
    background-color: #F9FAFE;
    height: 100px;
    border: 1px solid #d6d6d6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
textarea {
font-family: monospace;
}
stylesheettextarea {
-webkit-appearance: textarea;
background-color: white;
border: 1px solid;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
flex-direction: column;
resize: auto;
cursor: auto;
padding: 2px;
white-space: pre-wrap;
word-wrap: break-word;
}


.quote_bubble {
position:relative;
padding-top:10px;
margin-left:20px;
width: 655px;
margin-top: 4px;
border-top: 2px solid #f70050;
}
.quote_bubble span{
height: 11px;
margin-bottom: 8px;
margin-top: 5px;background-color: #fff;
font-size:10px;
font-weight:bold;
    }

.quote_bubble .f1{
height: .6em;
margin-bottom: 1.5em;
margin-top: 15px;background-color: #fff;
padding-right: 1em;
font-size:15px;
font-weight:bold;
    }



.top_critic .review_quote_top {
background-position: right top;
}
.review_quote_top {
background-color: #f8f8f8f;
height: 9px;
}
.top_critic .review_quote {
background-position: right bottom;
}
.review_quote {
border:1px solid #666;
padding: 5px;
}

.divider-line{
    border-bottom: 2px solid #f70050;
    width:100%;
    height:5px;
    }
.review_quote>.quote_contents {
width: 545px;
float:left;
margin-left:15px;
}
dl, .media_block {
display: block;
}
.review_quote .icon {
margin: 2px 8px 0 1px;
}
.media_block .media_block_content {
display: block;
overflow: hidden;
width:100%;
clear: none;
}
p {
margin-bottom: 4px;
}
.small {
font-size: 11px;
}
.subtle {
color: #787878;
}
.float_right, .fr {
float: right;
}

.float_left {
float: left;
}
.padding_top{padding-top:10px;}
.padding_left{padding-left:10px;}
.review_source {
margin-left: 5px;
float:left;
border-right:1px solid #f70050;
width:75px;
height:100px;
}
.review_source img.critic_thumb {
max-height: 48px;
max-width: 48px;
}






.celebrity-box-bottom{border:1px solid #d6d6d6;}

.rating-widget .status {
display: inline-block;
}
.rating-widget .share_button.fb {
background-position: -99px -112px;
}
.rating-widget .share_button {
background: transparent url("http://celebritydbag.com/static/images/star.png") no-repeat;
display: inline-block;
width: 28px;
height: 14px;
}
a.fb_button, a.fb_button_rtl, .fb_button, .fb_button_rtl {
text-decoration: none;
}

.like_status {
background: transparent url("http://celebritydbag.com/static/images/star.png") no-repeat -274px -146px;
background-color: #fff1c0;
padding: 2px 4px 2px 18px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.dbags-rating {
float:right;
margin-top:20px;
width: 190px;
}
.rating{width:230;}
.height-full {
    height: 100%;
}


.right {
    display: block;
    float: right;
    height: 100%;
}

.clear {
    display: block;
    float: none;
    clear: both;    
}

.wrapper {
    width: 1020px;
    margin: 0px auto;
}

.

.color-reverse {
    color: #000000;
}


.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.split-left {
    border-left: dotted 1px #C0C0C0;
}

.split-right {
    border-right-style: dotted;
    border-right-width: 1px;
}

.split-top {
    border-top: dotted 1px #C0C0C0;
}

.split-bottom {
    border-bottom: dotted 1px #C0C0C0;
}



.button:hover {
    background: #e3ad29;
}
.button-short:hover {
    background: #e3ad29;
}
.button-rate:hover {
    background: #e3ad29;
}


div.errorSummary {
    width: 95%;
    margin: 0px 0px 10px 0px;
    padding: 5px;
    border: solid 2px #E52531;
}

div.errorSummary p {
    margin: 0px 0px 5px 0px;
    padding: 0px;   
}

div.errorSummary ul {
    margin: 0px;
    padding: 0px;
    
    list-style: circle inside;
}

.errors{color:red;}
.errors-header{color:red; font-weight:bold; padding:5px;}
.celebrity-block-right .errors{color:red; font-weight:bold;}



.sign_in_content {
width: 360px;
margin: 0px auto;
padding: 10px;
border: solid 3px #4382DC;
background-color: #F9F9F9;

}
.sign_in_content .box {
margin: 0px;
padding: 6px;
border: 1px solid #CCC;
}

.sign_in_content .box p{
    float:left;
    width:100%;
    }


.sign_in_content form {
    width:100%;
    }
.sign_in_content .sign_in_content .box .row input[type="text"], .sign_in_content .sign_in_content .box .row input[type="password"] {
width: 230px;
}
.sign_in_content .box .row {
margin: 0px 0px 10px 0px;
text-align: right;
}

.line_break {border-top: 1px solid #dfdfdf;
margin-top: 30px;
padding-top: 20px;
position: relative;
overflow: visible;}

.mm_or{top: 69px;
color: #black;
font-size: bold;
background-color: #F9F9F9;
position: absolute;
text-align: center;

top: -8px;
width: 40px;
overflow: visible;
left: 150px;}

.button {
border: 1px solid #C0C0C0;
margin: 5px auto ;
width: 190px;
cursor: pointer;
text-align: center;
background-color: #FFFCAB;
background: -moz-linear-gradient(center top , #FFFCAB, #E3AD29) repeat scroll 0% 0% transparent;
background-image: -ms-linear-gradient(top , #FFFCAB 0%, #E3AD29 100%);

background: -webkit-gradient(linear,left top,left bottom,color-stop(0.28,#FFFCAB),color-stop(0.72,#E3AD29));
padding: 5px 12px;
color: #0000;
letter-spacing: 1px;
text-indent: 0;
font-size: 16px;
padding: 8px 18px 8px 18px;
}
.button-short {
border: 1px solid #C0C0C0;
margin: 3px auto;
width:150px;
cursor: pointer;
text-align: center;

background: -webkit-gradient(linear,left top,left bottom,color-stop(0.28,#FFFCAB),color-stop(0.72,#E3AD29));
background-image: -ms-linear-gradient(top , #FFFCAB 0%, #E3AD29 100%);
background: -moz-linear-gradient(center top , #FFFCAB, #E3AD29) repeat scroll 0% 0% transparent;
padding: 5px 12px;
color: #0000;
letter-spacing: 1px;
text-indent: 0;
font-size: 16px;
padding: 8px 18px 8px 18px;
}
.button-rate {
border: 1px solid #C0C0C0;
margin: 3px auto;
width:85px;
cursor: pointer;
text-align: center;

background: -webkit-gradient(linear,left top,left bottom,color-stop(0.28,#FFFCAB),color-stop(0.72,#E3AD29));
background-image: -ms-linear-gradient(top , #FFFCAB 0%, #E3AD29 100%);
background: -moz-linear-gradient(center top , #FFFCAB, #E3AD29) repeat scroll 0% 0% transparent;
padding: 5px 12px;
color: #0000;
letter-spacing: 1px;
text-indent: 0;
font-size: 16px;
padding: 6px 12px 6px 12px;
}
.button-blue  {
border: 1px solid #C0C0C0;
margin: 3px auto;
width:190px;
cursor: pointer;
text-align: center;
background: #FFFCAB;
background: -moz-linear-gradient(center top , #FFFCAB, #E3AD29) repeat scroll 0% 0% transparent;
background-image: -ms-linear-gradient(top , #FFFCAB 0%, #E3AD29 100%);

background: -webkit-gradient(linear,left top,left bottom,color-stop(0.28,#FFFCAB),color-stop(0.72,#E3AD29));
color: white;
letter-spacing: 1px;
text-indent: 0;
font-size: 16px;
padding: 9px 4px 9px 4px;
}
.create-account{text-align:center; margin-top:0px;}
.button-blue a{color:black;}
.button-blue a:hover{color: blue;}
.button-right {
border: 1px solid #C0C0C0;
margin-left:60px;
margin-bottom:10px;
width: 230px;
cursor: pointer;
text-align: center;

background: -webkit-gradient(linear,left top,left bottom,color-stop(0.28,#FFFCAB),color-stop(0.72,#E3AD29));
padding: 5px 12px;
color: #0000;
letter-spacing: 1px;
text-indent: 0;
font-size: 16px;
padding: 8px 18px 8px 18px;
}


.button-submit:hover {
background-color:black;
}
.split-left {
border-left: dotted 1px #C0C0C0;
}
.sign_in_content .social_sign .header {
font-size: 16px;
font-weight: bold;
line-height: 16px;
margin: 0px 0px 3px 0px;
}
media="screen"
.sign_in_content .social_sign .content {
font-size: 12px;
line-height: 18px;
}
.sign_in_content p {
font-size: 12px;
font-weight: normal;
line-height: 12px;
}
.sign_in_content .social_sign .footer {
font-size: 16px;
font-weight: normal;
padding: 0px 0px 0px 10px;
}
.social-facebook-login {padding-top:15px; width:195px;margin:0 auto;}








.celebrity-list-content{
    position:relative;
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
    background-color: #F9F9F9;
    position:relative;
    padding:10px;
    border: solid 3px #4382DC;
    }
.celebrity-list-left{
    float:left;
    width:670px;
    padding-right:10px;
    border-right-style: dotted;
    border-right-width: 1px;
    }
#celebrity-list-top {
    color:#ffc530;
    width:100%;
    font-weight: lighter;
    font-size: 30px;
    border-bottom:2px solid #f70050;

    }       







.account-wrapper {
position: relative;
width: 715px;
margin: 0px auto;
padding: 8px;
border: solid 3px #4382DC;
background-color: #F9F9F9;
}
.content-header {
font-size: 28px;
padding-left: 12px;
margin-top: 10px;
font-weight: bold;
}
#account-info {
padding-top: 8px;
}

#account-info fieldset {
float: left;
padding: 20px;
background-color: ##F9F9F9;
border: 1px solid #D9D9D9;
margin-bottom: 20px;
margin-left:10px;
width: 650px;
}
.account-update {
float: right;
width: 200px;
}
#account-info h4 {
margin: 5px 5px 5px 0px;
}
.account-update p {
font-size: 12px;
line-height: 1.5;
}
table {
border-collapse: separate;
}
tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}
tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}
#account-form th, {
text-align: right;
font-size: 14px;
font-weight: normal;
color: black;
}
#account-form td {
padding-bottom: 3px;
}
#account-form th label {
font-size: 14px;
}

#box-nav {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

#box-nav>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}









.sign_up_content{
width: 715px;
margin: 0px auto;
padding: 8px;
border: solid 3px #4382DC;
background-color: #F9F9F9;
}

.left {
display: block;
float: left;
}
.sign_up_content .box {
    border: 1px solid #CCC;
}

.sign_up_content .box .form {
margin: 10px 2px 0 10px;
float:left;
width:365px;
}
.sign_up_right{
margin: 10px;
float:left;
width:305px;
}
.sign_up_right img{padding-bottom:10px}

.sign_up_content .box .row {
margin: 0px 0px 5px 0px;
text-align: right;
}

.sign_up_right .social_sign .social_sign_body p{
padding:0px;
font-size:11px;
}

.align-right {
text-align: center;
}
.align-left {
text-align: center;
margin-top:20px;
margin-left:90px;
margin-bottom:5px;
}

.button  a:hover{
background-color:#349e00;
}
.right {
display: block;
float: right;
}
.split-left {
border-left: dotted 1px #C0C0C0;
}
.sign_up_content .social_sign .social_sign_header {
font-size: 14px;
font-weight: bold;
line-height: 16px;
margin: 0px 0px 3px 0px;
}

.social_sign_body p{
font-size: 14px;
padding:0px;
margin: 0px ;
}

media="screen"
.sign_up_content .social_sign .content {
font-size: 12px;
line-height: 18px;
}







#header {
background: #4382DC;
background: -moz-linear-gradient(top,#4382DC,#3D69B5);
background-image: -ms-linear-gradient(top , #4382DC 0%, #3D69B5 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0.28,#4382DC),color-stop(0.72,#3D69B5));
border: 1px solid #294D75;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#545454',endColorstr='#222222',GradientType=0);
height: 45px;
width: 100%;
border-bottom: 2px solid #f70050;
-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}






.advertising-right{
    width:310px;
    float:right;
    }








.articles-content{
    position:relative;
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
    background-color: #F9F9F9;
    position:relative;
    padding:10px;
    border: solid 3px #4382DC;
    }
.articles-left{
    float:left;
    width:670px;
    padding-right:10px;
    border-right-style: dotted;
    border-right-width: 1px;
    }
#articles-top {
    color:black;
    font-weight: lighter;
    font-size: 30px;
    border-bottom:2px solid #f70050;
      }
#articles-top span {
width:400xp;
}              
#search-right{
    float:right;
    }
.articles{
list-style: none;
margin: 5px 0;
}

.articles ul,{
margin: 0;
padding: 0;
}

.articles li {
list-style: none;
border: 1px solid #CCC;
margin: 10px 0;
padding: 10px 0;
}
.newsPost {
width: 646px;
padding:3px;
}

.newsPost .newsThumb {
float: left;
width: 146px !important;
width: 166px;
padding: 0 10px;
text-align: left;
}

.newsThumb  img{
margin-top:4px;
border: 3px solid #e8e8ea;
max-width: 140px;
}

.newsThumb  a img{
float: left;
width: 140px;
height: 100px;
}
.newsDetails {
width: 480px;}

.newsDetails .newsHeadline {
width: 480px;
}

.newsHeadline h3 {
width: 480px;
}
.newsHeadline h3, .npcHeadline h3 a {
color: black !important;
margin:0px;
padding:0px;
}
.newsDetails .newsDate {
color: #505050;
font-size:10px;
margin-bottom: 2px;
}
.newssummary p{
padding:0;
margin-top:8px;
}

.newsSummary li p {
margin: 0;
}







#footer {
color: #666;
font-family: Arial,Verdana,Helvetica,sans-serif;
font-size: 10px;
line-height: 16px;
text-align: center;
margin-top: 50px;
}

.footer-words {
text-align: center;

}
#footer a {
    font-size: 12px;
    margin-right:10px;
}

#footer a:hover {
    color: #58be03;
}   

#footer .info {
    margin: 3px 0px 20px 0px;
}

#menubar {
margin-left: auto;
margin-right: auto;
width: 1130px;
}

#menubar .logo {
    margin-right: 20px;
}

#menubar .menuitem {    
    border-color: #3D3E43;
}

#menubar .menuitem a {  
    display: block;
    text-shadow: rgba(0,0,0,.3) 0px 1px 1px;
    text-indent: 0;
    margin: 0px;
    padding: 12px 13px 15px 13px;
    font-size: 16px;
    color:white;
}

#menubar .menuitem a:hover {    
    color:#fff;
    background: #3D3E43;
    
}

#menubar .signitem a {
    display: block;
    padding: 12px 4px 20px 5px;
    color:white;
    font-size:14px;
    }

.split-right {
    border-right-style: dotted;
    border-right-width: 1px;
    }   


#menubar .signitem .split-right-signin{
border:#3D3E43;
border-right-style: dotted;
border-right-width: 1px;
    }   

#menubar .signitem a:hover {
    color: #CCC;
}

#searchBar {
float:left;
display: inline-block;
zoom: 1;
margin-left: 8px;
vertical-align: top;
margin-top: 2px;
overflow:visible;

}

#searchBar .searchBox {
border:1px solid black;
background-color: #fff;
padding-bottom:2px;
-moz-border-radius: 5px;
padding-left: 2px;
position: relative;
transition: border linear .2s, box-shadow linear .2s;
-moz-transition: border linear .2s, -moz-box-shadow linear .2s;
-webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
}
#searchBar input {
width:150px;
border-radius:2px;
color: #666;
margin: 0;
border-width: 0;
font:18;
height: 23px;
line-height: 18px;
}
#searchBar button {
border-width: 0;
margin: 0;
padding: 0 5px 0 0px;
background-color:transparent;
cursor: pointer;
height: 23px;
}
 .magnify {
 margin-top:2px;
background: url("http://celebritydbag.com/static/images/magni_glass.png") transparent no-repeat top left;
height: 18px;
width: 18px;
overflow:visible;
}
.icon {
display: inline-block;
vertical-align: text-bottom;
}




.bg-elements {
    padding: 0px;   
    border-bottom: 1px solid white;
    background-color: white;
    }

#header-bar {
position: relative;
bottom: 0;
width: 100%;
background-color: #efefef;
opacity: .8;
height: 100px;
margin-bottom: 50px;
box-shadow: inset 0 0 15px #CCC;
}

#header-bar-container {
    width: 1000px;
    margin: 0px auto;
    padding:0px;
    }

#header-bar-container h3 {
    font-weight: lighter;
    font-size: 30px;}

#header-bar-container h2 {
    font-weight: lighter;
    width:800px;
    margin: 25px auto;
    font-size: 37px;}

#header-bar-container h1 {
    font-weight: lighter;
    width:1000px;
    margin: 25px auto;
    font-size: 37px;}





#container {
    width: 800px;
    margin: 0px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #FFF;
}

#container h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}

#container h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

#container p {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
}

#container .title {
    margin: 0px 0px 20px 0px;
}














#email-content {
width: 580px;
margin: 0px auto;
padding: 10px;
border: solid 3px #4382DC;
background-color: #F9F9F9;
}

.email-form {
position: relative;
float: left;
width: 100%;
background-color: #F9F9F9;
border: 1px solid #D9D9D9;
}


email-form th {
font-size: 14px;
font-weight: normal;
text-align: right;
color: black;
padding-right: 3px;
width: 120px;
vertical-align: middle;
}


    
    
    
    




.advertise-content{
    position: relative;
width: 660px;
margin: 0px auto;
padding: 10px;
border: solid 3px #4382DC;
background-color: #F9F9F9;
}
    
    
    .advertise-box {
width: 100%;
position: relative;
background-color: #F9F9F9;
border: 1px solid #D9D9D9;
    }
.advertise-box-left{
float: left;
width: 400px;
}

.advertise-box-right{
margin-top: 10px;
display: inline;
float: right;
position: relative;
width: 250px;
    }
.advertise-box-right h2 {   
    color: #f70050;
font-size: 20px;
line-height: 1.2;
margin: 0;
margin: 0;
padding: 3px;
text-transform: capitalize;}

.bor-list p{
margin: 8px 0;
font-size:14px;
line-height:20px;
padding: 3px;
}
.stats{
position: relative;
float: left;
margin: 8px 8px 0px 8px;
width: 420px;
height: 105px;
border-bottom: 1px solid #DDD;
}
.stats h2{margin:0;padding:0 0 3px 0;}
.stats img {
float: left;
padding-right: 10px;
}
.stats-words p{padding:0 0 5px 9px; font-size:12px; margin:0; margin-left:5px;}
.stats-words span{font-weight:bold;}
.color-pink{width:8px;height:8px;background-color:#c3003f;float:left; margin-top:4px; margin-right:3px;}
.color-blue{width:8px;height:8px;background-color:#3567ae;float:left; margin-top:4px; margin-right:3px;}
.color-green{width:8px;height:8px;background-color:#459602;float:left; margin-top:4px; margin-right:3px;}
.color-grey{width:8px;height:8px;background-color:#a9a9a9;float:left; margin-top:4px; margin-right:3px;}





.terms-content {
width: 750px;
margin: 0px auto;
padding: 10px;
border: solid 3px #4382DC;
background-color: #F9F9F9;
}
.terms-content h3, .terms-content h1 {
padding-left:10px;margin-bottom:0px;padding-bottom:0px;}


.terms-content p {
font-size: 12px;
font-weight: normal;
line-height: 20px;
padding:0px 10px 0 10px;
}

.terms-box{
border: 1px solid #D9D9D9;

padding:5px 10px 10px 10px;
}
.indent {text-indent:10px;}





.forgot-content {
position:relative;
width: 350px;
margin: 0px auto;
padding: 10px;
border: solid 3px #4382DC;
background-color: #F9F9F9;

}
.forgot-head h3 {
color:#2d2d2d;
font-weight:bold;
    }   

.forgot-content p{
font-size: 14px;
margin-bottom:10px;
    }

.forgot-form {
width: 100%;
position: relative;
background-color:#F9F9F9;
border:1px solid #D9D9D9;
}

.forgot-form form {
display: block;
margin: 0;
}

.forgot-form span {
display: block;
font-size: 16px;
font-weight: normal;
color: black;
padding-bottom: 3px;
vertical-align: middle;
}



