<html>
    {% load staticfiles %}
    <head>
        <meta charset="utf-8">

        <title>CelebrityDbag - Page not found (Error 404)</title>

        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <link rel="stylesheet" href="{% static 'css/404.css' %}"/>
    </head>
    <body class="ytype error-page">
        <div class="wrap">
            <div class="app-header simple-header">
                <div class="header-container clearfix">
                    <div class="header-title">
                        <h1 class="logo"><a href="/">Yelp</a></h1>

                    </div>
                </div>
            </div>

            <div class="error-wrap">
                <div class="error-content clearfix">
                    <div class="media-body">
                        <h2 class="headline"><span class="page-status">404 error.</span>
                        <br>
                        Oops. We took a wrong turn somewhere and this douchebag got lost. </h2>

                        <p class="message">
                            Go back to our home page or search for a celebrity.
                        </p>

                        <div id="searchBar">
                            <form method="post" action="/search/" style="position:relative;">
                                {% csrf_token %}
                                <fieldset>
                                    <div class="searchBox">
                                        <input sub="input" name="keyword" type="text" placeholder="Search Celebrity">
                                        <button sub="submitbutton" type="submit">
                                            <span class="icon magnify"> </span>
                                        </button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
        </div>
    </body>
</html>
