{% extends "base_generic.html" %}

{% block title %}404 Page Not Found{% endblock %}

{% block content %}

<div class="main-container error-container">
    <div class="container">
        <div class="error-content">
            <h1>
                <p><strong>404 error.</strong></p>
                Oops. We took a wrong turn somewhere and this douchebag got lost.
            </h1>
            <div class="search-wrapper">
                <form action="">
                    <div class="search">
                        <input type="text" name="" id="" class="form-control" placeholder="Search Celebrity">
                        <button class="search-btn"><i class="fa fa-search"></i></button>
                    </div>
                </form>
                <p> Go back to our home page or search for a celebrity.</p>
            </div>
        </div>
    </div>
</div><!-- error-container -->
{% endblock %}