{% load static from staticfiles %}
<!DOCTYPE html>
<html lan="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        {% block meta %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>

        <link rel="shortcut icon" href="images/chalk-icon6.ico">
        <link href="css/default.css" rel="stylesheet" type="text/css" media="screen">
        <link href="css/pick.css" rel="stylesheet" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static 'css/defaultceleb.css' %}" />
        {% block extra_head %}{% endblock %}

    </head>

    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">

        <div id="body">
            {% block body %}
            <div class="bg-elements">
                <div class="wrapper">
                    {% include "header.html" %}
                    <div class="content_title">
                        {% block content_title %}{% endblock %}
                    </div>
                    <div id="content" class="content">
                        {% block content %}{% endblock %}
                    </div>
                    {% include "footer.html" %}
                </div>
            </div>
            {% endblock %}
        </div>

        <script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
        {% block extra_scripts %}{% endblock %}

    </body>
</html>

