<div id="footer">
    <a href="{% url 'portals:flat_page' 'advertise' %}">Advertise</a>&nbsp;&nbsp;&nbsp; <a href="{% url 'portals:flat_page' 'terms' %}">Terms and Contentions</a>&nbsp;&nbsp;&nbsp; <a href="{% url 'portals:contact' %}">Contact Us</a>
    <div class="copyright">
        <div class="font-12 color-primary">
            © Copyright 2014 CelebrityDouche.com,
        </div>
        <div class="font-12 color-primary">
            All rights reserved Various trademarks held by their respective owners.
        </div>
    </div>
</div>