<footer class="site-footer">
    <div class="footer-container">
        <div class="container">
            <ul class="footer-menu">
                <li>
                    <a href="{% url 'portals:advertise' %}">Advertise</a>
                </li>
                <li>
                    <a href="{% url 'portals:flat_page' 'terms' %}">Terms and Contentions</a>
                </li>
                <li>
                    <a href="{% url 'portals:contact' %}">Contact Us</a>
                </li>
            </ul>
            <div class="copyright">
                <p>
                    &#169; Copyright 2015 <a href="http://celebritydouchebag.com/">CelebrityDoucheBag.com</a>,
                </p>
                <p>
                    All rights reserved Various trademarks held by their respective owners.
                </p>
            </div>
        </div>
    </div>
</footer>
