{% load staticfiles account_tags %}

<header class="site-header">
    <div class="container main-container header-container">
        <a href="javascript:void(0);" class="mobile-menu-toggle-btn"><i class="fa fa-bars"></i></a>
        <a href="/" class="logo">Celeberty Douchebag</a>
        <nav id="top-menu" class="menu-wrapper">
            <ul class="menu">
                <li>
                    <form action="{% url 'rating:search' %}" class="visible-xs visible-sm mobile-search">
                        <div class="search">
                            <input type="text" name="keyword" id="" class="form-control search-input" placeholder="Search Celebrity">
                            <button class="search-btn" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </li>
                <li class="">
                    <a href="{% url 'rating:category_list' slug='actor' %}">Actors</a>
                </li><!-- add active class to li-->
                <li>
                    <a href="{% url 'rating:category_list' slug='musician' %}">Musicians</a>
                </li>
                <li>
                    <a href="{% url 'rating:category_list' slug='tv' %}">TV</a>
                </li>
                <li>
                    <a href="{% url 'rating:category_list' slug='radio' %}">Radio</a>
                </li>
                <li>
                    <a href="{% url 'rating:category_list' slug='athlete' %}">Athletes</a>
                </li>
                <li>
                    <a href="{% url 'rating:category_list' slug='politician' %}">Politicians</a>
                </li>
                <li>
                    <form action="{% url 'rating:search' %}" class="header-search hidden-xs hidden-sm">
                        <div class="search">
                            <input type="text" name="keyword" id="" class="form-control search-input" placeholder="Search Celebrity">
                            <button class="search-btn" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'userena_profile_detail' user.username %}" class="user-action-btn"> <i class="fa fa-user"></i>&nbsp;{{ user.get_full_name|default_if_empty:user.username }}</a>
                </li>
                <li>
                    <a href="{% url 'userena_signout' %}" class="user-action-btn logout">Sign Out</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'userena_signin' %}" class="user-action-btn login">Sign In</a>
                </li>
                <li>
                    <a href="{% url 'userena_signup' %}" class="user-action-btn logout">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
