{% extends "base_generic.html" %}
{% load staticfiles %}
{% block title %}{{ category }}{% endblock %}

{% block content %}

<div id="header-bar">
    <div id="header-bar-container">
        <h3>{{ category }}</h3>
    </div>
</div>

<div class="celebrity-list-content">
    <div class="celebrity-list-left">
        <div id="celebrity-list-top">
        Top 10 Douchebag {{ category }}
            <div id="search-right">
                <div id="searchBar">
                    <form method="get" action="{% url 'rating:search' %}" style="position:relative;">
                        <fieldset>
                            <div class="searchBox">
                                <input sub="input" name="keyword" type="text" placeholder="Search Celebrity" />
                                <button sub="submitbutton" type="submit">
                                    <span class="icon magnify"> </span>
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

        </div>
        <div class="celebrity-list-box">
            <div class="celeb-list">
                <ul>
                    {% for celebrity in celebrity_list %}
                    <li>
                        <div class="celeb-list-post celeb-left">
                            <div class="celeb-thumb ">
                            <a href="{% url 'rating:celebrity_detail' slug=celebrity.slug %}"><img src="{{ celebrity.image1.url }}" style="max-width: 120px; max-height: 150px;" /></a></div>
                        </div>
                        <div class="celeb-details celeb-left">
                            <div class="celeb-name">
                                <a href="{% url 'rating:celebrity_detail' slug=celebrity.slug %}">{{ celebrity.name }}</a>
                            </div>
                            <div class="celeb-rate ">{{ celebrity.average_rate }} <span>Score</span></div>
                            <div class="celeb-count ">
                                Ratings counted:<span>{{ celebrity.rate_count }}</span>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="advertising-right">
        <img src="{% static 'images/CaptureGIF.GIF' %}" />
    </div>
</div>
{% endblock %}
