{% extends "base_generic.html" %}
{% load staticfiles %}
{% block title %}{{ category }}{% endblock %}

{% block content %}

<!-- begin actors-container celebrity-container -->
<div class="main-container {{ slug }}-container celebrity-container">
    <!-- begin page title main-title-wrapper -->
    <div class="main-title-wrapper">
        <div class="container">
            <h1 class="main-title">Celebrity {{ category }}</h1>
        </div>
    </div>
    <!-- end page title main-title-wrapper -->
    <!-- begin main-content   -->
    <div class="container">
        <div class="row">
                <div class="col-md-10 col-md-offset-1">
                <!-- begin main-content -->
                <div class="main-content">
                    <div class="row">
                        <!-- begin main-content left-bar -->
                        <div class="col-md-8 main-content-inner">
                            <div class="main-content-title">
                                <h2 class="">Top 10 Douchebag Celebrity {{ category }}</h2>
                                <form action="{% url 'rating:search' %}" class="article-search">
                                    <div class="search">
                                        <input type="text" name="keyword" id="" class="form-control" placeholder="Search Celebrity">
                                        <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                            <div class="celebrity-list-wrapper">
                                <ul class="celebrity-list">
                                    {% for celebrity in celebrity_list %}
                                    <li>
                                        <div class="post-pic">
                                            <a href="{% url 'rating:celebrity_detail' slug=celebrity.slug %}">
                                                <img src="{{ celebrity.image1.url }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="celebrity-post-info">
                                            <h3 class="celeb-name"><a href="{% url 'rating:celebrity_detail' slug=celebrity.slug %}">{{ celebrity.name }}</a></h3>
                                            <div class="rate">
                                                <span>{{ celebrity.average_rate }}</span> Score
                                            </div>
                                            <div class="count">
                                                Ratings counted:<span>{{ celebrity.rate_count }}</span>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                         <!-- end main-content left-bar -->
                    </div>
                </div>
                <!-- end main-content -->
            </div>
        </div>
    </div>
    <!-- end main-content -->
</div>
<!-- end actors-container celebrity-container -->
{% endblock %}
