{% extends "base_generic.html" %}
{% load static from staticfiles %}

{% block title %}Celebrity{% endblock %}

{% block content %}
<div class="content-top clearfix">
    <div class="celebrity-image celebrity-area">
        <img src={{celebrity.image1.url}}""
            width="214px"
            height="317px"
            alt="{{celebrity.name}}"
            title="The Lego Movie"
            itemprop="image"
            class="pinterestImage">
    </div>
    <div class="celebrity-block-right celebrity-block-border">
        <h1 class="celebrity-name"><span itemprop="name">{{celebrity.name}}</span></h1>
        <div class="celebrity-box" data-score="95">
            <div class="celebrity-inside-box rating-side">
                <p class="rating-result-words" sub="hover"><span>Nice Person</span></p>
                <div id="rating-numbers" class="rating-container" >
                    <a class="rating-box" style="display:block;" href="#contentReviews"><span class="rate number">1.5</span></a>
                    <div class="dbags-rating">
                        <div class="dbags-align">
                            <span style="width:100%;">
                                <div class="rating">
                                    <span class="rater-starsOff" style="width: 220px; cursor: pointer;">
                                        {# <span class="rater-starsOn" style="width: 63px; cursor: pointer;"></span> #}
                                        <div class="item-rate">
									      <ul>
									        <li><a href="#" class="rates rate1" data-rate="1">&nbsp;</a></li>
									        <li><a href="#" class="rates rate2" data-rate="2">&nbsp;</a></li>
									        <li><a href="#" class="rates rate3" data-rate="3">&nbsp;</a></li>
									        <li><a href="#" class="rates rate4" data-rate="4">&nbsp;</a></li>
									        <li><a href="#" class="rates rate5" data-rate="5">&nbsp;</a></li>
									        <li><a href="#" class="rates rate6" data-rate="6">&nbsp;</a></li>
                                            <li><a href="#" class="rates rate7" data-rate="7">&nbsp;</a></li>
                                            <li><a href="#" class="rates rate8" data-rate="8">&nbsp;</a></li>
                                            <li><a href="#" class="rates rate9" data-rate="9">&nbsp;</a></li>
                                            <li><a href="#" class="rates rate10" data-rate="10">&nbsp;</a></li>
									      </ul>
									    </div>
                                    </span>
                                </div>
                            </span>
                        </div>
                        <p class="rating-stats">Ratings Counted: <span>118</span><br></p>
                    </div>
                    <p class="celebrity-known-for">{{celebrity.get_specificity_display}} | {{celebrity.description}}</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div>
            <h4 class="header-message"><span class="fl">Rate if this celebrity is a dbag</span></h4>
        </div>
        <div class="rating-widget large-rating-widget media_block">
            <a href="" class="celebrity-image">
                <img src="http://images.rottentomatoescdn.com/images/redesign/user.none.tmb.jpg" width="50" sub="img" class="fl" alt="">
            </a>
            <div class="celebrity-block-right">
                <div class="rating_buttons">
                    <input type="button" value="+" class="wts clear" style="position:relative; bottom:7px;">
                    <input type="button" value="-" class="ni clear" style="position:relative; bottom:7px;">
                    <input type="button" class="stars clear down7">
                </div>
                <textarea id="review_text" class="review clearfix" placeholder="Add a Review (Optional)" style="height: 38px;" nanme="review"></textarea>
                <div class="clearfix" style="height:20px;">
                    <input type="submit" value="Edit" />
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}

