{% extends "base_generic.html" %}
{% load static from staticfiles %}
{% load range_tag %}

{% block title %}Celebrity{% endblock %}

{% block content %}
<div class="content-top clearfix">
    <div class="celebrity-image celebrity-area">
        <img src={{celebrity.image1.url}}""
            width="214px"
            height="317px"
            alt="{{celebrity.name}}"
            title="The Lego Movie"
            itemprop="image"
            class="pinterestImage">
    </div>
    <div class="celebrity-block-right celebrity-block-border">
        <h1 class="celebrity-name"><span itemprop="name">{{celebrity.name}}</span></h1>
        <div class="celebrity-box" data-score="95">
            <div class="celebrity-inside-box rating-side">
                <p class="rating-result-words" sub="hover"><span></span></p>
                <div id="rating-numbers" class="rating-container" >
                    <a class="rating-box" style="display:block;" href="#contentReviews"><span class="rate number">{% if rating_avg %}{{ rating_avg }}{% else %}0.0{% endif %}</span></a>
                    <div class="dbags-rating">
                        <div class="dbags-align">
                            <span style="width:100%;">
                                <div class="rating">
                                    <span class="rater-starsOff" style="width: 220px; cursor: pointer;">
                                        <span class="rater-starsOn" style="width: 63px; cursor: pointer;"></span>
                                    </span>
                                </div>
                            </span>
                        </div>
                        <p class="rating-stats">Ratings Counted: <span>{{ rating_count }}</span><br></p>
                    </div>
                    <p class="celebrity-known-for">{{celebrity.get_specificity_display}} | {{celebrity.description}}</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div>
            <h4 class="header-message"><span class="fl">Rate if this celebrity is a dbag</span></h4>
        </div>
        <div class="rating-widget large-rating-widget media_block">
            <a href="" class="celebrity-image">
                <img src="http://images.rottentomatoescdn.com/images/redesign/user.none.tmb.jpg" width="50" sub="img" class="fl" alt="">
            </a>
            <form action="." method="post" id="form-celebrity-vote">
            {% csrf_token %}
                <input type="hidden" name="user" value="{{ user.pk }}" />
                <input type="hidden" name="celebrity" value="{{ celebrity.pk }}" />
                <input type="hidden" name="rate" id="celebrity_rating" {% ifnotequal form.rate.value 0 %}value="{{ form.rate.value }}"{% endifnotequal %}/>
	            <div class="celebrity-block-right">
	                <div class="rating_buttons">
	                    {% comment %}
	                    <input type="button" value="+" class="wts clear" style="position:relative; bottom:7px;">
	                    <input type="button" value="-" class="ni clear" style="position:relative; bottom:7px;">
	                    <input type="button" class="stars clear down7">
	                    {% endcomment %}
	                    <div style="width: 220px; cursor: pointer;">
		                    <div class="item-rate">
		                      <ul>
		                          {% with rate=form.rate.value|get_range %}
		                          {% for i in 10|get_range %}
		                          <li><a href="#" class="rates rate{{ i|add:"1" }}{% if i in rate %} active{% endif %}" data-rate="{{ i|add:"1" }}">&nbsp;</a></li>
		                          {% endfor %}
		                          {% endwith %}
		                      </ul>
		                    </div>
	                    </div>
	                </div>
	                {% if form.rate.errors %}
	                <p>Please mark your rating here</p>
	                {% endif %}
	                <br/>
	                <textarea id="review_text" class="review clearfix" placeholder="Add a Review" style="height: 38px;" name="review"></textarea>
	                {% if form.review.errors %}
	                <p>You need to input review here</p>
	                {% endif %}
	                <br/>
	                {% if rate_exist %}
	                <p><b>You already rated this celebrity</b></p>
	                {% else %}
	                <div class="clearfix" style="height:24px;">
	                    <input type="submit" value="Rate" />
	                </div>
	                {% endif %}
	                <br/>
	            </div>
	        </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}

