{% extends "base_generic.html" %}
{% load i18n %}

{% block title %}{% trans "Email changed!" %}{% endblock %}

{% block content %}
<!-- begin contact-container  -->
<div class="main-container contact-container">
    <!-- begin page title main-title-wrapper -->
    <div class="main-title-wrapper">
        <div class="container">
            <h1 class="main-title">{% blocktrans with site.name as site %}Your new email address is saved. You can continue using {{ site }} with this email.{% endblocktrans %}</h1>
        </div>
    </div>
</div>
{% endblock %}
