{% extends "base_generic.html" %}
{% load i18n %}

{% block title %}{% trans "Email verification" %}{% endblock %}

{% block content %}
<!-- begin contact-container  -->
<div class="main-container contact-container">
    <!-- begin page title main-title-wrapper -->
    <div class="main-title-wrapper">
        <div class="container">
            <h1 class="main-title">{% blocktrans with viewed_user.userena_signup.email_unconfirmed as email %}You have received an email at {{ email }}.{% endblocktrans %}</h1>
            <h1 class="main-title">{% blocktrans with viewed_user.username as username %}To associate this email address with your account ({{ username }}) click on the link provided in this email.{% endblocktrans %}</h1>
        </div>
    </div>
</div>
{% endblock %}