{% extends "base_generic.html" %}
{% load i18n %}
{% block title %}Reset Password{% endblock %}

{% block content %}

<div id="header-bar">
    <div id="header-bar-container">
        <h2>Forgot Password</h2>
    </div>

</div>
<div class="forgot-content">
    <div class="forgot-form">
        <form action="" method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div class="errors-header" id="email-padding">Please correct the following fields:</div>
            {% endif %}
            {% for field in form %}
                <div class="row" id="email-padding">
                    {% if field.errors %}
                        <div class="errors">
                            {{ field.errors}}
                        </div>
                    {% endif %}
                    <!--<label class="hidden-label" for="user_{{ field.name }}">{{ field.field.label }}</label>-->
                    <div>
                        <label for="id_{{ field.name }}"{% if field.errors %} class="error"{% endif %}>{{ field.field.label }}:</label>
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <div id="email-padding">
                Enter your email address to reset your password.
            </div>
            <button class="button-right" tabindex="3" type="submit">Reset your password</button>
        </form>

    </div><!--end forgot-form-->

</div><!-- End Content -->
{% endblock %}
