{% extends "base_generic.html" %}
{% load i18n %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<!-- begin contact-container  -->
<div class="main-container contact-container">
    <!-- begin page title main-title-wrapper -->
    <div class="main-title-wrapper">
        <div class="container">
            <h1 class="main-title">{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}</h1>
        </div>
    </div>
</div>

{% endblock %}