{% extends "base_generic.html" %}
{% load i18n celebrity_template_tags %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<!-- begin account-container -->
<div class="main-container account-container">
    <!-- begin page title main-title-wrapper -->
    <div class="main-title-wrapper">
        <div class="container">
            <h1 class="main-title">Please enter your new password</h1>
        </div>
    </div>
    <!-- end page title main-title-wrapper -->
    <div class="container">
        <div class="main-content">
            <div class="details-change edit-profile">
                <h3>Reset Password</h3>
                <form action="" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <label for="">{{ field.label }}:</label>
                        {{ field|add_attrs:"class:form-control" }}
                        <span class="control-label">{{ field.errors.0 }}</span>
                    </div>
                    {% endfor %}
                    <div class="submit-btn-wrapper">
                        <button class="btn btn-main">Change my password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end account-container-->
{% endblock %}

