{% extends "base_generic.html" %}
{% load i18n celebrity_template_tags %}
{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content %}
<!-- begin account-container -->
<div class="main-container account-container">
    <!-- begin page title main-title-wrapper -->
    <div class="main-title-wrapper">
        <div class="container">
            <h1 class="main-title">Account Setup</h1>
        </div>
    </div>
    <!-- end page title main-title-wrapper -->
    <div class="container">
        <div class="main-content">
            <ul class="user-action-list">
                <li><a href="{% url 'userena_profile_detail' user.username %}">View profile</a></li>
                <li><a href="{% url 'userena_profile_edit' user.username %}">Edit details</a></li>
                <li><a href="{% url 'userena_password_change' user.username %}">Change password</a></li>
            </ul>
            <div class="details-change edit-profile">
                <h3>Edit Profile</h3>
                <form action="" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <label for="">{{ field.label }}:</label>
                        {{ field|add_attrs:"class:form-control" }}
                        {% if field.name == "mugshot" %}
                        <span> A personal image displayed in your profile. </span>
                        {% elif field.name == "privacy" %}
                        <span>Designates who can view your profile.</span>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="submit-btn-wrapper">
                        <button class="btn btn-main">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end account-container-->

{% endblock %}
