{% extends 'userena/base_userena.html' %}
{% load i18n celebrity_template_tags %}

{% block title %}Celebrity Dbag - {% trans "Signin" %}{% endblock %}

{% block content %}

<!-- begin auth-container signup-container  -->
<div class="main-container auth-container signin-container">
     <!-- begin page title main-title-wrapper -->
    <div class="main-title-wrapper">
        <div class="container">
            <h1 class="main-title">Sign In</h1>
        </div>
    </div>
     <!-- end page title main-title-wrapper -->
     <div class="container">
         <div class="main-content">
            <div class="auth-form-wrapper">
                <!-- begin sign-in form   -->
                <form action="" class="sign-in-form" method="post">{% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        <label class="control-label" for="">{{ field.label }}:</label>
                        {{ field|add_attrs:"class:form-control" }}
                        <div class="form-error">{{ field.errors.0 }}</div>
                    </div>
                    {% endfor %}
                    <div class="forgot-password">
                        <a href="{% url 'userena_password_reset' %}">Forgot your password?</a>
                    </div>
                    <div class="form-error">{{ form.non_field_errors.0 }}</div>
                    <div class="submit-btn-wrapper">
                        <button  class="btn btn-main">Signin</button>
                    </div>
                </form>
                <!-- end sign-in-form -->

                <!-- begin social-sign-wrapper -->
                <div class="social-sign-wrapper">
                    <div class="social-sign">
                        <a href="{% url 'socialauth_begin' 'facebook' %}" class="social-btn btn-facebook" title="Sign in with Facebook">
                            <i class="fa fa-facebook"></i>Sign in with Facebook
                        </a>
                    </div>
                    <div class="social-sign">
                        <a href="{% url 'socialauth_begin' 'twitter' %}" class="social-btn btn-twitter" title="Sign in with Twitter">
                            <i class="fa fa-twitter"></i>Sign in with Twitter
                        </a>
                    </div>
                    <div class="social-sign">
                        <a href="{% url 'socialauth_begin' 'google-oauth2' %}" class="social-btn btn-google" title="Sign in with Google">
                            <i class="fa fa-google-plus"></i>Sign in with Google
                        </a>
                    </div>
                </div>
                <!--end social-sign-wrapper -->
                <div class="divider">OR</div>
                <div class="btn-wrapper">
                    <a href="{% url 'userena_signup' %}" class="btn btn-main">Create New Account</a>
                </div>
            </div>
         </div>
     </div>
</div>
<!-- end auth-container signup-container -->
{% endblock %}
