{% extends "mobile/base_generic.html" %}
{% load celebrity_template_tags %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<div class="header-bar-mobile">
    <h3>Contact Us</h3>
</div>
{% include "mobile/search_form.html" %}
<div class="container-mobile">

    <div class="contactus-view">
        <p>
            Email us if you have any questions, concerns, improvements to our website or if you'd like us to add a celebrity. We will respond to your email as quickly as possible.
        </p>

        <form action="." method="post">
            {% csrf_token %}
            <p>
                Your Name:
                <br>
                <span>
                    <input type="text" name="name" value="" size="40" style="width: 100%;">
                    {% if form.name.errors %}
                    <div class="error-help">
                        Please put your name
                    </div> {% endif %} </span>
            </p>
            <p>
                Your Email:
                <br>
                <span>
                    <input type="text" name="email" value="" size="40" style="width: 100%;">
                    {% if form.email.errors %}
                    <div class="error-help">
                        Enter your email address
                    </div> {% endif %} </span>
            </p>
            <p>
                Your Message:
                <br>
                <span>
                    <textarea name="detail" cols="30" rows="10" style="width: 100%;"></textarea>
                    {% if form.detail.errors %}
                    <div class="error-help">
                        Please input details here
                    </div> {% endif %}
                </span>
                <button class="button-short" type="submit">
                    Send
                </button>
            </p>

        </form>

    </div><!--end Contac us view mobile-->

</div><!--end celebrity-container-mobile-->

{% endblock %}

