{% extends "mobile/base_generic.html" %}
{% block title %}Celebrity Douchebag: Actors, Musicians and Athletes nice people or doucebags{% endblock %}

{% block content %}
<div class="header-bar-mobile">
    <h3>Tell us if the celebrity you met is a nice person or a douchebag.</h3>
</div>
{% include "mobile/search_form.html" %}
<div class="articles-container-mobile">
    <div class="articles-top">
        <div class="articles-header">
            Today's Celebrity News
        </div>
    </div><!--end articles-top-mobile-->
    <ul class="articles-list">
        {% for article in articles %}
        <li>
            <a href="{{ article.url }}">
            <div class="articles-thumb-mobile">
                <img src="{{ article.image }}" class="image" />
            </div> <h3 class="article-title-mobile"><a class="title" href="{{ article.url }}" target="_blank">{{ article.title|truncatechars:50 }}</a></h3>
            <div class="article-source">
                ({{ article.news_website }})
            </div>
            <div class="article-summary-mobile">
                <p>
                    {{ article.description|truncatechars:200 }}
                </p>
            </div> </a>
        </li>
        {% endfor %}
    </ul>
</div><!--end articles-container-mobile-->
{% endblock %}
